body {
  background-color: bisque;
}
h1 {
  text-align: center;
}

footer {
  text-align: center;
}
img {
  display: block;
  max-width: 90%;
  margin: 30px auto;
  border-radius: 10px;
}
p {
  text-align: center;
}
a {
  margin-right: 20px;
}
